# Data and DB
data/
qdrant_db/
chat_history.db
ingestion_state.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment variables
.env

# OS files
.DS_Store

# Streamlit static
static/
.venv/
.streamlit/
flashrank_cache/
