streamlit
streamlit-authenticator
langchain==0.2.0
langchain-openai
langchain-community
langchain-qdrant
qdrant-client
pypdf
python-dotenv
tiktoken
duckduckgo-search
flashrank
llama-parse
llama-index-core
nest-asyncio
